<div class="row">
	<div class="col">
		<h1 class="text-center">Formulaire</h1>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Date de réception</label>
				<div class="col-sm-3">
					<select class="form-control" [(ngModel)]="gli.dayRecep">
						<option value="undefined" disable>{{gli.dayRecep}} </option>
						<option *ngFor="let day of days">{{day}}</option> 

					</select>
				</div>
				<div class="col-sm-3">
					<select class="form-control" [(ngModel)]="gli.monthRecep">
						<option value="undefined" disable>{{gli.monthRecep}} </option>
						<option *ngFor="let month of months">{{month}}</option> 
					</select>
				</div>
				<div class="col-sm-3">
					<select class="form-control" [(ngModel)]="gli.yearRecep">
						<option value="undefined" disable>{{gli.yearRecep}} </option>
						<option *ngFor="let year of years">{{year}}</option> 
					</select>
				</div>
			</div>

					
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">ID Client</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="ID Client" [(ngModel)]="gli.idClient">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Locataires</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="Nom des locataires" [(ngModel)]="gli.title">
				</div>
			</div>

			<ng-container *ngFor="let file of gli.documents; let i=index;">
				<div class="form-block">
					<div class="text-right">
						<a (click)="removeFile(i)"><i class="fas fa-trash-alt"></i></a>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nature</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Nature du document" [(ngModel)]="file.natureDocument">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Document</label>
						<div class="col-sm-10">
							<input type="file" class="form-control-file" accept="application/pdf" (change)="fileEvent($event.target.files[0].name, i)">
						</div>
					</div>
				</div>
			</ng-container>
			<div class="text-right">
				<a (click)="addFile()"  class="pr-sm-2"><i class="fas fa-file-medical"></i></a>				
				<a (click)="xmlSerialize()"><i class="fas fa-check"></i></a>
			</div>

	</div>
	<div class="col">
		<h1 class="text-center">Visualiser</h1>
		<div class="col-visualize">
			<pre>{{ serialized }}</pre>
		</div>
	</div>
</div>